*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroImage, .panelImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: trinigan;
  src: url("../fonts/trinigan.ttf");
}
@font-face {
  font-family: lobster;
  src: url("../fonts/Lobster-Regular.ttf");
}
.hero {
  height: 70vh;
  width: 100%;
}

.heroImage {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.heroImage h2 {
  margin-top: 5%;
  margin-right: 5%;
  width: 40%;
  text-align: right;
}

.navBar {
  height: 5vh;
  width: 100%;
  margin: 0 auto;
}
.navBar ul {
  width: 400px;
  height: 5vh;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navBar li {
  height: inherit;
  width: 150px;
  margin-right: 30px;
  text-align: center;
}
.navBar a {
  line-height: 30px;
  font-size: 28px;
  text-decoration: none;
  color: #fbd7b2;
  font-weight: 600;
  text-shadow: 6px 6px 7px black;
}

section {
  width: 100%;
}

.aboutMe {
  height: 55%;
  background-color: #8F8B31;
  color: #fbd7b2;
}

.aboutMeContent {
  width: 100%;
  margin: 25px 0;
  display: flex;
}

.leftBox, .rightBox {
  flex-basis: 50%;
}

.rightBox {
  padding: 20px;
  height: 100%;
  box-shadow: 5px 5px 15px black;
}

#work {
  background-color: rgba(255, 255, 255, 0.1);
}
#work h1, #work h2 {
  text-shadow: 6px 6px 7px black;
}

.contactContent {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}
@media screen and (min-width: 1300px) {
  .wrapper {
    width: 1300px;
  }
}

.blackBar {
  background-color: #000;
  height: 50px;
}

.panelBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 330px;
  width: 100%;
}

.panel {
  height: 300px;
  width: 300px;
  text-align: center;
}
.panel h3 {
  text-shadow: 6px 6px 7px black;
}

.panelImage {
  height: 200px;
  width: 250px;
  margin: 20px auto;
  transition: all 1s;
  box-shadow: 5px 5px 15px black;
}

.panelImage:hover {
  transform: scale(1.5);
}

label {
  text-shadow: 6px 6px 7px black;
}

input {
  -webkit-appearance: none;
  display: block;
  border: 2px solid black;
  height: 25px;
  width: 300px;
  box-shadow: 5px 5px 15px black;
}

button {
  box-shadow: 5px 5px 15px black;
}

body {
  background-color: #000;
  color: #fbd7b2;
}

.hero h1 {
  font-size: 30px;
  letter-spacing: 5px;
  font-family: trinigan;
}
.hero h2 {
  font-size: 20px;
  letter-spacing: 3px;
  font-family: trinigan;
}

.heroImage {
  background-image: url("../images/hero.png");
}
.heroImage h2 {
  color: #fbd7b2;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px #000;
  font-size: 3vw;
  letter-spacing: 5px;
  font-family: trinigan;
}

.rightBox {
  background-color: #6C6917;
}

#work {
  background-color: #8F3631;
}

.panelImage {
  background-color: #ffffff;
}

#webDesignRow1 > .panel:first-child .panelImage {
  background-image: url("../images/arctic_wild.png");
}
#webDesignRow1 > .panel:nth-child(2) .panelImage {
  background-image: url("../images/portland.png");
}
#webDesignRow1 > .panel:nth-child(3) .panelImage {
  background-image: url("../images/neature_walk.png");
}

#webDesignRow2 > .panel:first-child .panelImage {
  background-image: url("../images/tictacgears.png");
}
#webDesignRow2 > .panel:nth-child(2) .panelImage {
  background-image: url("../images/steve_irwin.png");
}
#webDesignRow2 > .panel:nth-child(3) .panelImage {
  background-image: url("../images/pigdice.png");
}

.identityDesign > .panel:first-child .panelImage {
  background-image: url("../images/logo.png");
}

#contact {
  background-color: #462560;
}
#contact h1 {
  text-shadow: 6px 6px 7px black;
}

.infoContainer {
  text-shadow: 6px 6px 7px black;
}

/*# sourceMappingURL=main.css.map */
