section
  width: 100%

.aboutMe
  height: 55%
  // background-color: #fbd7b2
  background-color: #8F8B31
  color: #fbd7b2

.aboutMeContent
  width: 100%
  margin: 25px 0
  display: flex

.leftBox, .rightBox
  flex-basis: 50%

.rightBox
  padding: 20px
  height: 100%
  box-shadow: 5px 5px 15px black

#work
  background-color: rgba(255, 255, 255, 0.1)
  h1, h2
    text-shadow: 6px 6px 7px black

.contactContent
  display: flex
  justify-content: space-between
